<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PayrollOneService.Properties.Settings.PayrollOne_BetterPaymentsConnectionString"
            connectionString="Data Source=NELSON;Initial Catalog=PayrollOne_BetterPayments;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="PayrollOneService.Properties.Settings.PayrollServiceConfigConnectionString"
            connectionString="Data Source=NELSON;Initial Catalog=PayrollServiceConfig;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>