<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="Environment" value="Dev"/>
    <add key="RabbitMQHost" value="192.168.4.7" />

    <add key="ProdPR1_EXE_PATH" value="C:\Program Files (x86)\Payroll One\PayrollOne.exe" />
    <add key="ProdPR1_LICENSE_KEYS" value="mcHtq8WqSOEoLqk9/uba6Ta1MWZ0VTud|emQ7Eo/br1A54h+pIYqGY5MtDKWBZ+eS" />
    <add key="ProdPR1_SERVER" value="localhost" />
    <add key="ProdPR1_USERNAME" value="sa" />
    <add key="ProdPR1_PASSWORD" value="inland12" />
    <add key="ProdthriftPort" value="9084" />
    <add key="ProdDisplayName" value="Payroll Service Ombros United v2.0.6.0"/>
    <add key="ProdrabbitMQHost" value="192.168.4.7" />
    <add key="ProdPayrollServiceDBServer" value="localhost" />
    <add key="ProdPayrollServiceDBName" value="PayrollServiceConfig" />
    <add key="ProdPayrollServiceDBUsername" value="sa"/>
    <add key="ProdPayrollServiceDBPassword" value="inland12" />

    <add key="UatPR1_EXE_PATH" value="C:\Program Files (x86)\Payroll One\PayrollOne.exe" />
    <add key="UatPR1_LICENSE_KEYS" value="mcHtq8WqSOEoLqk9/uba6Ta1MWZ0VTud|emQ7Eo/br1A54h+pIYqGY5MtDKWBZ+eS" />
    <add key="UatPR1_SERVER" value="TAGDB01-UAT" />
    <add key="UatPR1_USERNAME" value="sa" />
    <add key="UatPR1_PASSWORD" value="inland12" />
    <add key="UatthriftPort" value="9084" />
    <add key="UatDisplayName" value="Payroll Service Ombros United UAT v2.0.6.0" />
    <add key="UatRabbitMQHost" value="MYSQL-UAT" />
    <add key="UatPayrollServiceDBServer" value="TAGDB01-UAT" />
    <add key="UatPayrollServiceDBName" value="PayrollServiceConfig" />
    <add key="UatPayrollServiceDBUsername" value="sa"/>
    <add key="UatPayrollServiceDBPassword" value="inland12"/>

    <add key="DevPR1_EXE_PATH" value="C:\Program Files (x86)\Payroll One\PayrollOne.exe" />
    <add key="DevPR1_LICENSE_KEYS" value="mcHtq8WqSOEoLqk9/uba6Ta1MWZ0VTud|emQ7Eo/br1A54h+pIYqGY5MtDKWBZ+eS" />
    <add key="DevPR1_SERVER" value="localhost" />
    <add key="DevPR1_USERNAME" value="sa" />
    <add key="DevPR1_PASSWORD" value="sa" />
    <add key="DevthriftPort" value="9084" />
    <add key="DevDisplayName" value="Payroll Service Ombros United DEV v2.0.6.0" />
    <add key="DevrabbitMQHost" value="192.168.56.112" />
    <add key="DevPayrollServiceDBServer" value="localhost"/>
    <add key="DevPayrollServiceDBName" value="PayrollServiceConfig" />
    <add key="DevPayrollServiceDBUsername" value="sa"/>
    <add key="DevPayrollServiceDBPassword" value="sa"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
